<div id="<%= dom_id ship %>">
  <p>
    <strong>Name:</strong>
    <%= ship.name %>
  </p>

  <p>
    <strong>Health:</strong>
    <%= ship.health %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= ship.comment %>
  </p>

  <p>
    <strong>X location:</strong>
    <%= ship.x_location %>
  </p>

  <p>
    <strong>Y location:</strong>
    <%= ship.y_location %>
  </p>

</div>
